body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-style: oblique;
    font-weight: 20px;
    /* background: linear-gradient(to bottom, #000000, #1a1a1a); */
    background: linear-gradient(to right, rgb(105, 12, 29), rgb(12, 3, 3));
    color: rgb(238, 200, 195);
    text-align: center;
    
}

.theater{
    border: 10px solid rgb(173, 49, 49);
    box-shadow: 0 0 50px rgb(119, 75, 75);
    border-radius: 15px;
    padding: 10px;
    margin: 40px auto;
    width: 30%;
    background-color: #1a1818;
}

video{
    width: 50%;
    border: 5px solid rgb(241, 195, 142);
    border-radius: 15px;
    box-shadow: 0 0 30px rgb(255, 174, 0);
    font-weight: 10px;

}

.buttons{
    margin: 20px;
    padding: 10px 10px;
    font-size: 13px;
    background-color: rgb(248, 3, 3);
    color: white;
    border: none;
    border-radius: 80px;
    cursor: pointer;
}